<footer>
    <div class="f-info flex fl-dir-cl fl-gap">
        <div class="f-info-social flex fl-center">
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
        <div class="f-info-brand flex fl-center">&copy;HostHUb Privet Limited</div>
        <div class="f-info-links flex fl-center">
            <a href="#">Privecy</a>
            <a href="#">Terms</a>
        </div>
    </div>
</footer>