<% layout("/layouts/boilerplate") %>
<body>
    <h3>All Listings</h3>
    <!-- <button><a href="/listings/create">Create Listing</a></button> -->
    <div class="def">

        <% for(let data of allData) {%>
                  <a href="/listings/<%= data._id %>" class="listing-link">

                    <div class="card" style="width: 19rem;">
                        <img src="<%= data.image.url %>" class="card-img-top" alt="Home Image">
                        <div class="card-body">
                          <p class="card-text">
                           <b>  <%= data.title%></b> <br>
                            <small>&#8377;<%= data.price.toLocaleString("en-In")%> night</small>
                           </p>
                        </div>
                      </div>               
                  </a>
             <% } %>
    </div>  
</body>
