<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create </title>
</head>
<body>
    <form method="post" action="/listings">
        <input type="text" name="title" placeholder="Title">
        <input type="text" name="description" placeholder="Description">
        <input type="text" name="img" placeholder="Image link">
        <input type="text" name="price" placeholder="price">
        <input type="text" name="location" placeholder="Location">
        <input type="text" name= "country" placeholder="Country">
        <button>Submit</button>

    </form>
</body>
</html>